{% extends "layout.html" %}
{% block body %}


<h1>TaKCaMS (Flask)</h1>

{% if contexts %}
    
<form method=post enctype="multipart/form-data" action="{{url_for('index')}}">
    <table>
        {{ form.hidden_tag() }}
        {% for field in form %}
            {% if field.widget.input_type != 'hidden' %}
            <tr>
            <td> 
                {{ field.label }} 
                </td><td>{{ field }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    <p><input type=submit value='Submit'></form></p>
    <p>
        Question: {{question}}<br/>
        Answer: {{answer}}<br/>
    </p>
    {% if log %}
    <hr/>
    <div class="container">
    <ul>
        {% for l in log %}
        <li>[{{l.when}}]<br/> 
        Q:{{l.question}}<br/>
        A:{{l.answer}}</li>
        {% endfor %}
    </ul>
    {% endif %}</div>

{% else %}
    <p>Upload at least one pre-existing knowledge document to begin.</p>
{% endif %}
{% endblock %}